* {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  font-family: "Roboto";
}

main:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #161616, transparent);
  z-index: 10;
}

.nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 35px;
  margin-right: 2rem;
  z-index: 30;
}
.nav__container {
  position: relative;
  width: 50px;
  height: 250px;
  border-radius: 35px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav__container:hover {
  background: rgb(254, 215, 170);
}
.nav__container ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav__container ul li {
  position: relative;
  width: 50px;
  height: 60px;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__container ul li:hover .nav__title {
  opacity: 1;
  visibility: visible;
  transform: translateX(25px) translateY(-50%);
}
.nav__container ul li:nth-child(1).active ~ .indicator {
  transform: translateY(0px);
}
.nav__container ul li:nth-child(2).active ~ .indicator {
  transform: translateY(60px);
}
.nav__container ul li:nth-child(3).active ~ .indicator {
  transform: translateY(120px);
}
.nav__container ul li:nth-child(4).active ~ .indicator {
  transform: translateY(180px);
}
.nav__container ul li:nth-child(5).active ~ .indicator {
  transform: translateY(240px);
}
.nav__links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: black;
}
.nav__icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}
.nav__title {
  position: absolute;
  top: 50%;
  right: 90px;
  width: auto;
  background: orange;
  color: white;
  transform: translateY(-50%);
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  font-weight: 700;
  text-transform: uppercase;
}
.nav__title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: orange;
  right: -1px;
  top: 46%;
  transform: rotate(45deg) translateY(-50%);
  border-radius: 3px;
}
.nav .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 60px;
  transition: 0.5s;
}
.nav .indicator::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(248, 165, 70);
  border-radius: 50%;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .nav {
    margin-right: 10px;
  }
  .nav__container {
    width: 35px;
    height: 200px;
    background: hslA(0, 0%, 23%, 0.2);
  }
  .nav__container ul li {
    width: 35px;
    height: 50px;
  }
  .nav__container ul li img {
    width: 20px;
  }
  .nav__container ul li:nth-child(1).active ~ .indicator {
    transform: translateY(0px);
  }
  .nav__container ul li:nth-child(2).active ~ .indicator {
    transform: translateY(50px);
  }
  .nav__container ul li:nth-child(3).active ~ .indicator {
    transform: translateY(100px);
  }
  .nav__container ul li:nth-child(4).active ~ .indicator {
    transform: translateY(150px);
  }
  .nav__title {
    right: 80px;
  }
  .nav .indicator {
    width: 35px;
    height: 50px;
  }
  .nav .indicator::before {
    opacity: 1;
  }
}
@media only screen and (max-width: 999px) {
  .skill__container {
    display: none;
  }
  .mobSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
  }
  .mobSkills svg {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 1000px) {
  .mobSkills {
    display: none;
  }
  .skill__container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 5px solid rgb(194, 65, 12);
    border-radius: 50%;
  }
  .skill__icon {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -50%;
    cursor: pointer;
  }
  .skill__icon .iconbox {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transition: 0.5s;
    background: #3a3a3a;
    border: 5px solid rgb(177, 175, 174);
    transform: rotate(calc(36deg * var(--i)));
    transform-origin: 340px;
    z-index: 30;
    overflow: hidden;
  }
  .skill__icon .iconbox svg {
    color: rgb(255, 255, 255);
  }
  .skill__icon .iconbox svg, .skill__icon .iconbox span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: rotate(calc(-36deg * var(--i)));
    padding: 10px;
  }
  .skill__content {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  .skill__content h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .skill__content::before {
    content: "";
    position: absolute;
    inset: 60px;
    border: 4px solid transparent;
    border-left: 4px solid rgb(211, 67, 10);
    border-right: 4px solid white;
    border-radius: 50%;
    -webkit-animation: animate_01 10s linear infinite;
            animation: animate_01 10s linear infinite;
    z-index: 1;
    pointer-events: none;
  }
  .skill__content::after {
    content: "";
    position: absolute;
    inset: 100px;
    border: 4px solid transparent;
    border-left: 4px solid rgb(194, 65, 12);
    border-right: 4px solid white;
    border-radius: 50%;
    -webkit-animation: animate_02 8s linear infinite;
            animation: animate_02 8s linear infinite;
    z-index: 1;
    pointer-events: none;
  }
  @-webkit-keyframes animate_01 {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  @keyframes animate_01 {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }
  @-webkit-keyframes animate_02 {
    0% {
      rotate: 360deg;
    }
    100% {
      rotate: 0deg;
    }
  }
  @keyframes animate_02 {
    0% {
      rotate: 360deg;
    }
    100% {
      rotate: 0deg;
    }
  }
}
.card__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 30px 20px;
}
@media screen and (min-width: 700px) {
  .card {
    flex-direction: row;
  }
}
.card__info {
  background-color: white;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
}
.card__desc {
  margin-top: 75px;
}
.card__tags span {
  margin-right: 0.3em;
}
.card__links {
  display: flex;
  gap: 20px;
}
.card__links a:hover > svg {
  color: rgb(194, 65, 12);
}
.card__img {
  height: 300px;
  width: 100%;
}
.card__img img {
  height: 100%;
  width: 100%;
}

.contact__box {
  color: white;
}

.card__title {
  position: absolute;
  top: 10px;
  left: -15px;
  width: 280px;
  height: 50px;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  background-color: rgb(194, 65, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.card__title::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 30px;
  left: 0px;
  background: rgb(194, 65, 12);
  z-index: 1;
  border-bottom-left-radius: 20px;
}
.card__title::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 30px;
  left: 0px;
  background: rgb(117, 40, 10);
  z-index: 1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 2;
}/*# sourceMappingURL=style.css.map */